body {
	background-color: #e9e9e9;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 1px;
}

* {
	box-sizing: border-box;
	transition: .25s all ease;
}

.register-container {
	display: block;
	position: relative;
	z-index: 0;
	margin: 4rem auto 0;
  padding: 5rem 4rem 0 4rem;
	width: 100%;
	max-width: 525px;
	min-height: 865px;
}

.register-container:after {
	content: '';
	display: inline-block;
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: rgba(199, 199, 204);
	box-shadow: 0 -20px 150px -20px rgba(158, 158, 168, 0.5);
}

.form-register {
	position: relative;
	z-index: 1;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(68, 65, 254, 0.25);
}

.register-nav {
	position: relative;
	padding: 0;
	margin: 0 0 6em 5rem;
}

.register-nav__item {
	list-style: none;
	display: inline-block;
}

.register-nav__item a {
	position: relative;
	color: rgba(68, 65, 254);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.25rem;
	padding-bottom: .5rem;
	transition: .20s all ease;
}

.register-nav__item.active a {
	color: rgba(68, 65, 254);
	transition: .15s all ease;
}

.register-nav__item a:after {
	content: '';
  display: inline-block;
  position: absolute;
  left: 0;
}

.register-nav__item.active a:after{
	background-color: rgb(68, 65, 254);
	height: 2px;
	right: 0;
	bottom: 2px;
}

.register__label {
	display: block;
	padding-left: 1rem;
}

.register__label {
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-size: .75rem;
	margin-bottom: 1rem;
}

.register__input {
	color: rgb(0, 0, 0);
	font-size: 1.15rem;
	width: 100%;
	padding: .5rem 1rem;
	border: 2px solid transparent;
	outline: none;
	border-radius: 1.5rem;
	background-color: rgba(255, 255, 255, 0.25);
	letter-spacing: 1px;
}

.register__input:hover,
.register__input:focus{
	color: rgb(41, 37, 241);
	border: 2px solid rgba(68, 65, 254, 0.5);
	background-color: transparent;
}

.register__input + .register__label {
	margin-top: 2rem;
}


.register__submit {
	color: #ffffff;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 5rem;
	padding: .75rem;
	border-radius: 2rem;
	display: block;
	width: 100%;
	background-color: rgba(68, 65, 254);
	border: none;
	cursor: pointer;
}

.register__submit:hover {
	background-color: rgba(17, 97, 237, .75);
}

.register {
	display: block;
	margin-top: 1.5rem;
	text-align: center;
	color: rgba(0, 0, 0, 0.75);
	font-size: .75rem;
	text-decoration: none;
	position: relative;
	z-index: 1;
}

.register:hover {
	color: rgb(68, 65, 254);
}

.home {
	display: block;
	margin-top: 1.5rem;
	text-align: center;
	color: rgba(0, 0, 0, 0.75);
	font-size: .75rem;
	text-decoration: none;
	position: relative;
	z-index: 1;
}

.home:hover {
	color: rgb(68, 65, 254);
}