* {
    margin:0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    
    }
    
    .advisors {
    display:flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    }
    
    .advisor-card {
    display:flex;
    flex-direction: row;
    background-color: #4441FE;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 5px;
    max-width: 800px;
    }
    
    .advisor-card img {
    align-self: center;
    min-height:140px;
    max-width: 200px;
    width: 100%;
    object-fit:cover;
    border-top-right-radius: 0px;
    }
    
    .information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1em;
    color: white;
    }
    .information-heading {
    display:flex;
    flex-direction: row;
    }
    .information-bubbles {
    display: flex;
    }
    

    .information-metrics {
    display:flex;
    justify-content: space-evenly;
    }
    
    .information-metrics div {
    display: flex;
    flex-direction: column;
    }
    
    h2 {
    font-size:16px;
    }
    
    p {
    font-size: 10px;
    }
    
    h3 {
    font-size: 7px;
    padding: 3px;
    background-color:white;
    color:black;
    border-radius: 15px;
    margin-right: 5px;
    }
    
    h4 {
    font-size: 11px;
    }
    
    h6 {
    font-size: 9px;
    }