
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #f3f6f9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

.advisor-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
   
}

.advisor {
    display:flex;
    background-color: #4441FE;
    margin-bottom:10px;
    border-radius: 13px;
    color: white;
    display: flex;
    flex-direction: row;
    overflow:hidden;
    height: 125px;
}

.img-container {
    width: 60%;
    max-width: 125px;
}

.img-container img {
    object-fit: cover;
    height:125px;
}
.advisor-information-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
}

.advisor-information {
    display: flex;
    flex-direction: column;
}

.advisor-information div {
    padding: 2px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.advisor-information-text {
    display:flex;
    flex-direction: column;
}

.advisor-information-text h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    padding-top: 3px;
}
.advisor-information-text p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
}
.advisor-information-experience {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: inherit;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.advisor-information-experience::-webkit-scrollbar {
    display:none;
}

.advisor-information-experience h6 {
    /*padding,border,font styling*/
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    color: black;
    border-radius: 13px;
    padding-left: 3px;
    padding-right: 3px;
    font-size:9.5px;
    text-align: center;
}

.advisor-information-metrics {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.advisor-information-metrics div h4,h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align:center;
}

.advisor-information-metrics div h4 {
    font-size: 12px;
}

.advisor-information-metrics div h6 {
    font-size: 10px;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* .iconheart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: red;
} */


/* .metrics-price {
    display: flow-root;
}

.metrics-rating {
    display: flow-root;
}

.metrics-session {
    display: flow-root;
}  */

/* 

.img-container img {
    object-fit: cover;
    height: auto;
    height: 100px;
    width: 60%;
    justify-content: normal;
    margin: auto;
}


 */