body {
	background-color: #e9e9e9;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 1px;
}

* {
	box-sizing: border-box;
	transition: .25s all ease;
}

.profile-container {
	/* display: block;
	position: relative;
	z-index: 0;
	margin: 4rem auto 0;
  padding: 5rem 4rem 0 4rem;
	width: 100%;
	max-width: 755px;
	min-height: 835px; */
	justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 13px;
}

/* .profile-container:after {
	content: '';
	display: inline-block;
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: rgba(199, 199, 204);
	box-shadow: 0 -20px 150px -20px rgba(158, 158, 168, 0.5);
} */

/* .form-profile {
	position: relative;
	z-index: 1;
  padding-bottom: 3rem;
} */

.profile-container-title {
	width:100%;
    display: flex;
    justify-content: space-between;
}

.profile-title{
	position: relative;
	color: rgba(68, 65, 254);
	text-decoration: none;
	text-transform: uppercase;
	/* font-weight: 500; */
	font-size: 1.25rem;
	padding-bottom: .5rem;
	transition: .20s all ease;
}
.profile-title-settingsicon{
	color:rgba(68, 65, 254);
}

.profile-info{
	display: flex;
	position:relative;
	flex-direction: column;
}

/* .profile-nav__item {
	list-style: none;
	display: inline-block;
}

.profile-nav__item a {
	position: relative;
	color: rgba(68, 65, 254);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.25rem;
	padding-bottom: .5rem;
	transition: .20s all ease;
}

.profile-nav__item.active a {
	color: rgba(68, 65, 254);
	transition: .15s all ease;
} */

/* .profile-nav__item a:after {
	content: '';
  display: inline-block;
  position: absolute;
  left: 0;
} */

/* .profile-nav__item.active a:after{
	background-color: rgb(68, 65, 254);
	height: 2px;
	right: 0;
	bottom: 2px;
} */

.profile-picture {
	margin-left: auto;
    margin-right: auto;
    /* margin-top: 0rem; */
    margin-bottom: 1.5em;
    width: 35%;
    border: 3px solid rgb(68, 65, 254);
    border-radius: 50%;
    display: flex;
}

.fas {
	font-size: 25px;
	float: right;
}

.far {
	width: 35%;
    font-size: 20px;
    float: right;
}

.profile__title {
	margin-top: 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.profile__subtitle {
	margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    margin-bottom: 5em;
    justify-content: center;
    display: flex;
    width: 100%;
    font-size: 15px;
}

.cards {
    margin-left:auto;
	margin-right: auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    grid-gap: 20px;
}

.card {
	margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: inherit;
}

.card__title {
	margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.card__titleButton {
    margin-left:auto;
    margin-right: auto;
    margin-top: 0rem;
    display: block;
    width: 25%;
    font-size: 18px;
}

.card__meta {
	margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    display: flex;
    position: relative;
    color: black;
}

/* /////////////////////////////NOT TO DELETE//////////////////// */
.icons-bottom{
display:flex;
width: 100%;
justify-content: space-between;	
margin-top: 1em;
}



.icon-right{
	display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.icon-hearth{
display: contents;
color:red;


}