body {
    background-color: lightblue;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container {
    display:flex;
    justify-content: center;    
    flex-grow: space-around;
}

#biography {
    margin:20px 0 15px 0 ;
    padding:20px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    max-width: 1000px;
}

.profile-buttons {
    margin:0 3%;
    padding: 5px;
    width: 30vw;
    height: 30vw;
    background-color: white;
    border-radius: 10px;
    max-width: 120px;
    max-height: 120px;
}

