body {
	background-color: #f3f6f9;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
	box-sizing: border-box;
	transition: .25s all ease;
}

.result-container {
	/* display: block;
	position: relative;
	z-index: 0;
	margin: 4rem auto 0;
  padding: 5rem 4rem 0 4rem;
	width: 100%;
	max-width: 525px;
	min-height: 865px; */
    
    position: flex;
    margin: 4rem auto 0;
    width: 100%;
}

.result-container:after {
	content: '';
	display: inline-block;
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: rgba(199, 199, 204);
	box-shadow: 0 -20px 150px -20px rgba(158, 158, 168, 0.5);
}

.result-nav {
	position: relative;
	padding: 0;
	margin: 0 0 6em 10rem;
}

.result-nav__item {
	list-style: none;
	display: inline-block;
}

.result-nav__item a {
	position: relative;
	color: rgba(68, 65, 254);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.25rem;
	padding-bottom: .5rem;
	transition: .20s all ease;
}

.result-nav__item.active a {
	color: rgba(68, 65, 254);
	transition: .15s all ease;
}

.result-nav__item a:after {
	content: '';
  display: inline-block;
  position: absolute;
  left: 0;
}

.result-nav__item.active a:after{
	background-color: rgb(68, 65, 254);
	height: 2px;
	right: 0;
	bottom: 2px;
}



/* CARD */

.advisor {
    display:flex;
    background-color: #4441FE;
    margin-bottom:10px;
    border-radius: 13px;
    color: white;
    display: flex;
    flex-direction: row;
    overflow:hidden;
    height: 125px;
}

.img-container {
    width: 60%;
    max-width: 125px;
}

.img-container img {
    object-fit: cover;
    height:125px;
}
.advisor-information-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
}

.advisor-information {
    display: flex;
    flex-direction: column;
}

.advisor-information div {
    padding: .75px;
}

.advisor-information-text {
    display:flex;
    flex-direction: column;
}

.advisor-information-text h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    padding-top: 3px;
}
.advisor-information-text p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 10px;
}
.advisor-information-experience {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: inherit;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.advisor-information-experience::-webkit-scrollbar {
    display:none;
}

.advisor-information-experience h6 {
    /*padding,border,font styling*/
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-color: white; */
    color: black;
    border-radius: 13px;
    padding-left: 3px;
    padding-right: 3px;
    font-size:9.5px;
    text-align: center;
}

.advisor-information-metrics {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.advisor-information-metrics div h4,h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align:center;
}

.advisor-information-metrics div h4 {
    font-size: 12px;
}

.advisor-information-metrics div h6 {
    font-size: 10px;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
